extends layout.pug

block content
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9
        h1 #{project.project_name}

        p.lead.text-light
          | #{project.description}

      .cell.portfolio-meta.small-6.medium-2.large-3(style="border:1px solid black; padding:20px; background-color: #D4D4D4")
        h6 Technologies

        ul
          each tech in project.technologies
            li= tech

        a.button.expanded(href=`${project.live_link}`, target="_blank") Live Demo
        a.button.expanded(href=`${project.github_link}`, target="_blank") GitHub Repo

    each url in project_imgs
      img.image(src=`${url}`)
